<p>Hi, I'm Nadya — a long-time journalist turned technical writer. Throughout my professional career I practice more or less the same thing: I talk to people, figure out what's missing, analyze and structure information to communicate it to other people in a clear and concise way.</p>

<p>My current tools include Markdown, pull requests, static site generators, Swagger, AI agents, and CI-triggered publishing pipelines — instead of a voice recorder, pen, and paper notebook. Nevertheless, I still enjoy writing texts and occasionally indulge myself with using an em-dash or two.</p>

<p>Besides my work, I'm a motorcycle girl, a gym rat, an amateur karting racer, once in a blue moon a home baker, and a mother to one teenager, one toddler, and one middle-aged Belgian Malinois.</p>

<p>And yes, I like thistles, obviously. They are my mascot from a young age: first as a symbol of all-things-Scottish (I actually wrote my diploma on Scottish national identity in the 19th century and even ran a school of Scottish dancing for some time), later on — as a representation of resilience and adaptability. </p>

<p>I'm currently based in Belgrade, Serbia, where I've spent the last four years discovering the language, the culture, and the natural beauty of my new home.</p>
